<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <title>manager</title>

</head>
<link rel="stylesheet" href="../static/css/managerr.css">
<body>
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <a href="#"><img src="../static/image/6logo.jpg" alt="" height="50px"></a>

            </div>
            <div class="menu">
                <ul>
                    <li>Home</li>
                    <li>Add agent</li>
                    <li>View agent </li>
                    <li>View scheem policy </li>
                    <li>Manager Leave Form </li>
                    <li>Request</li>

                </ul>
            </div>
            <div class="login-btn" style="margin-left: 1200px;">Login</div>
        </div>
        <div class="banner">
            <div class="app-text">
                <h3 style="font-weight: bolder;">INSURANCE POLICY MANAGERS</h3>
                <h1>A SECURED<br>FUTURE</h1>
                <p>We provide the best insurance policy</p>
            </div>
            <div class="btn-group">
                <div class="signup-btn" style="background-color: #ff4980;color:rgb(0, 0, 0);margin-left: 40px;font-weight: bolder;">Learn More</div>
                <div class="play-btn">
                    <div class="play-btn-inner">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <!-- <span>how it works</span> -->
                </div>
            </div>
        </div>
        <div class="app-picture">
            <img src="../static/image/pexels-emma-bauso-2253879.jpg"   style="width:100%; height:600px;opacity: 0.4;">
        </div>
        <div class="box" style="margin-left: 160px; margin-top: 40px;">
        <img src="../static/image/fast1.jpg" style="--c: #ff4980;margin-left: 30px;height: 150px;">
        <img src="https://picsum.photos/id/1039/200/200" style="--c: #ff4980;margin-left: 30px;">
        <img src="https://picsum.photos/id/1039/200/200" style="--c: #ff4980;margin-left: 30px;">
        <img src="https://picsum.photos/id/1032/200/200" style="--c: #ff4980;margin-left: 30px; ">
        </div>
</body>
</html>
